/*Подвал*/

.foot-web {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 31px;
}

.foot-studio {
    color: white;
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 31px;
}

.studio-logo {
    color: white;
}

.foot-join {
    color: white;
}

.foot-adress {
    color: white;
}

.foot-link {
    color: #afb1b8;
}

.foot-link:hover,
.foot-link:focus {
    color: var(--accent-color);
}

.foot-mail {
    color: rgba(255, 255, 255, 0.6);
}

.foot-phone {
    color: rgba(255, 255, 255, 0.6);
}

.foot-end {
    color: rgba(255, 255, 255, 0.4);
}