.section-title {
    color: var(--tital-color);
}


/*site head*/

.web {
    color: var(--accent-color)
}

.stud-logo {
    color: var(--tital-color)
}

.studio {
    color: var(--primary-color)
}

.studio-current {
    color: var(--tital-color);
}

.studio:hover,
.studio:focus {
    color: var(--accent-color);
}

.portfolio {
    color: var(--primary-color);
}

.portfolio-current {
    color: var(--tital-color);
}

.portfolio:hover,
.portfolio:focus {
    color: var(--accent-color);
}

.contacts {
    color: var(--primary-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

.mail {
    color: var(--primary-color);
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.number {
    color: var(--primary-color);
}

.number:hover,
.number:focus {
    color: var(--accent-color);
}


/*чем мы занимаемся*/

. .decision-title {
    color: white;
}

.doing-desctop {
    color: white;
}

.doing-desctop:focus {
    color: var(--accent-color);
}

.doing-mobile {
    color: white;
}

.doing-mobile:focus {
    color: var(--accent-color);
}

.doing-display {
    color: white;
}

.doing-display:focus {
    color: var(--accent-color);
}


/*Наша команда*/


}
.john-link {
    color: #AFB1B8;
}
.john-link:hover,
.john-link:focus {
    color: var(--accent-color);
}
.marta-link {
    color: #AFB1B8;
}
.marta-link:hover,
.marta-link:focus {
    color: var(--accent-color);
}
.robert-link {
    color: #AFB1B8;
}
.robert-link:hover,
.robert-link:focus {
    color: var(--accent-color);
}
.martin-link {
    color: #AFB1B8;
}
.martin-link:hover,
.martin-link:focus {
    color: var(--accent-color);
}

/*Постоянные клиенты*/
.logo {
    color: #AFB1B8;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.logo-foot {
    color: var(--accent-color);
}
.logo-studio {
    color: white;
}

/*кнопка*/
.button-order {
    color: white;
    background-color: var(--accent-color);
}
.button-follower {
    color: white;
    background-color: var(--accent-color);
}
.font {
    background-color: darkslategray;
}
.button-list {
    color: black;
}
.button-list:hover {
    color: var(--accent-color)
}