/*Логотип*/

.nav-web {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 31px;
}

.nav-studio {
    color: var(--tital-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 31px;
}


/*features*/

.features {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.studio {
    color: var(--primary-color);
}

.studio-current {
    color: var(--tital-color);
}

.studio:hover,
.studio:focus {
    color: var(--accent-color);
}

.portfolio {
    color: var(--primary-color);
}

.portfolio-current {
    color: var(--tital-color);
}

.portfolio:hover,
.portfolio:focus {
    color: var(--accent-color);
}

.contacts {
    color: var(--primary-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

.mail {
    color: var(--primary-color);
}

.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

.number {
    color: var(--primary-color);
}

.number:hover,
.number:focus {
    color: var(--accent-color);
}


/*чем мы занимаемся*/

.section-list {
    color: white;
    font-style: 400;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-list:focus
/*Наша команда*/

.john-link {
    color: #afb1b8;
}

.john-link:hover,
.john-link:focus {
    color: var(--accent-color);
}

.marta-link {
    color: #afb1b8;
}

.marta-link:hover,
.marta-link:focus {
    color: var(--accent-color);
}

.robert-link {
    color: #afb1b8;
}

.robert-link:hover,
.robert-link:focus {
    color: var(--accent-color);
}

.martin-link {
    color: #afb1b8;
}

.martin-link:hover,
.martin-link:focus {
    color: var(--accent-color);
}


/*Постоянные клиенты*/

.logo {
    color: #afb1b8;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}


/*кнопка*/

.button-order {
    color: white;
    background-color: var(--accent-color);
}

.button-follower {
    color: white;
    background-color: var(--accent-color);
}

.button-list {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.button-list:hover {
    color: var(--accent-color);
}

.button-list:focus {
    color: purple;
}


/*Наши проекты*/

.text-button {
    color: var(--primary-color);
}

.text-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--text-title);
}

.text-description {
    color: #ffffff;
}